@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
:root {
  /* //Primary Colors */
  --Bright-Orange: hsl(31, 77%, 52%);
  --Dark-Cyan: hsl(184, 100%, 22%);
  --Very-Dark-Cyan: hsl(179, 100%, 13%);

  /* //Neutral Colors */
  /* --Paragraphs */
  --Transparent-White: hsla(0, 0%, 100%, 0.75);
  /* --Background,Headings,Buttons */
  --Very-Light-Gray: hsl(0, 0%, 95%);
}
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}
img,
svg {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  background-color: hsl(0, 0%, 95%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Lexend Deca", sans-serif;
  width: 100%;
  max-width: 40rem;
  padding: 5rem 0rem;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Lexend Deca", sans-serif;
  color: var(--Transparent-White);
  align-items: left;
  padding: 5rem 6rem 2rem 6rem;
  font-size: 1.5rem;
  min-width: 15rem;
  min-height: 40rem;
}
.card img {
  width: 7rem;
  height: auto;
}
.card h2 {
  font-family: Big Shoulders Display, sans-serif;
  font-weight: 700;
  font-size: 4rem;
  text-transform: uppercase;
  margin: 2rem 0;
}
.card p {
  height: 30%;
  line-height: 2.5rem;
  margin: 1rem 0 4rem 0;
  color: var(--Transparent-White);
}
.sedans {
  background-color: var(--Bright-Orange);
  border-radius: 8px 8px 0 0;
}
.sedans a {
  color: var(--Bright-Orange);
}
.suvs {
  background-color: var(--Dark-Cyan);
}
.suvs a {
  color: var(--Dark-Cyan);
}
.luxury {
  background-color: var(--Very-Dark-Cyan);
  border-radius: 0 0 8px 8px;
}
.luxury a {
  color: var(--Very-Dark-Cyan);
}
.card a {
  background-color: var(--Very-Light-Gray);
  padding: 1rem 2rem;
  border-radius: 20px;
  text-transform: capitalize;
  align-self: baseline;
}
.card a:hover {
  background-color: inherit;
  color: var(--Very-Light-Gray);
  border: 3px solid var(--Transparent-White);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 2rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 950px) {
  main {
    max-width: 95rem;
    flex-direction: row;
  }
  .sedans {
    border-radius: 8px 0 0 8px;
  }
  .luxury {
    border-radius: 0 8px 8px 0;
  }
}
